{% extends "layout/base.html" %}
{% block content %}
{% load cart %}
{% load custom_filter %}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Portfolio Details</h2>
                <ol>
                    <li>Portfolio Details</li>
                </ol>
            </div>
        </div>
    </section>
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                {% for i in desc2 %}
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide">
                                <img src='../../media/{{i.image}}' alt="">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Product information</h3>
                        <ul>
                            <li><strong>Product Name</strong>: {{i.product_name}}</li>
                            <li><strong>Quantity</strong>: {{i.quantity}}</li>
                            <li><strong>Price</strong>: {{i.price}}</li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>{{i.product_name}}</h2>
                        <p>
                            {{i.desc}}
                        </p>
                    </div>
                    {% if request.user.is_authenticated %}
                    {% if item_already_in_cart %}
                        <a href = "{% url showcart %}" class = btn-btn-warning shadow px-5 py-2 ms-4>Go To Cart</a>
                    {% else%}
                        <form action= "/add_to_cart"class="d-inline">
                        
                            <input  type="hidden" name='product_id' value='{{i.id}}' id="prod_id">
                            <button type="submit" class=" btn btn-secondary shadow px-5 py-2 ">
                                Add To Cart</button>
                        </form>
                    {% endif %}
                    {% endif %}
                    {% if not request.user.is_authenticated %}
                        <form action= "/add_to_cart" class="d-inline">
                        
                            <input  type="hidden" name='product_id' value='{{i.id}}' id="prod_id">
                            <button type="submit" class="float-right btn btn-dark  form-control">
                                Add To Cart</button>
                        </form>
                    {% endif %}
               <!-- <div class="card-footer p-0 no-gutters">
                   {% if i|is_in_cart:request.session.cart %}
						<div class="row no-gutters">
							<form action="{% url 'description' i.id %}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{i.id}}'>
								<input hidden type="text" name='remove' value='True'>
								<input type="submit" value=" - " class="btn btn-block btn-dark border-right">
							</form>
							<div class="text-center col">{{i|cart_quantity:request.session.cart}} in Cart</div>
							<form action="{% url 'description' i.id %}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{i.id}}'>
								<input type="submit" value=" + " class="btn btn-block btn-dark border-left">
							</form>
						</div>
						{% else %}
						<form action="{% url 'description' i.id %}" method="POST" class="btn-block">
							{% csrf_token %}
							<input hidden type="text" name='product' value='{{i.id}}'>
							<input type="submit" class="float-right btn btn-dark  form-control"
								value="Add To Cart">
						</form>
						{% endif %}
                       <br>
                   <br>
                   <br>
                   <div> -->
                       <a href="/checkout" class="float-right btn btn-dark  form-control">Buy Now</a>
                       </div>
					</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
      <br>
</main>
{% endblock %}