<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>- Index</title>
    <meta content="" name="">
    <meta content="" name="">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">


</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
            <li><a class="nav-link scrollto" href="/services">Services</a></li>

            <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

</header>

<main id="main">

    <!-- ======= My Services Section ======= -->
    <div class="hero-container">

    <section id="hero" class="service1">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">


            <div class="row icon-boxes">
          {% for service20 in serv100 %}
        <div class="col-md-8 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">


            <div class="icon"><i class="ri-stack-line"></i></div>
            <img src="media/{{service20.serviceimage}}" class="img-fluid"  alt="">
              <br><br>
            <h4 class="title"><a href="{% url 'portfolio' service20.id %}">{{ service20.serviceheading }}</a></h4>

          </div>
        </div>
          {% endfor %}
            </div>
    </div>
  </section>
    </div>
    <br>
    <br>





</main><!-- End #main -->

 <!-- ======= Footer ======= -->
  <footer id="footer">
         <div class="container">
            <h3>Softprodigy</h3>
            <p>SoftProdigy is Nasscom certified software design and development company established in the year 2006 .</p>
             <div class="social-links">
                 <a href="https://twitter.com/SoftProdigy" class="twitter"><i class="bi bi-twitter"></i></a>
                 <a href="https://www.facebook.com/softprodigysolutions" class="facebook"><i class="bi bi-facebook"></i></a>
                 <a href="https://www.instagram.com/softprodigy_official" class="instagram"><i class="bi bi-instagram"></i></a>
                 <a href="https://www.skype.com/en/get-skype/" class="google-plus"><i class="bi bi-skype"></i></a>
                 <a href="https://www.linkedin.com/company/softprodigy" class="linkedin"><i class="bi bi-linkedin"></i></a>
             </div>
            <div class="copyright">
               &copy; Copyright <strong><span>Softprodigy</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
               Designed by <a href="https://softprodigy.com/">Softprodigy</a>
            </div>
         </div>
      </footer><!-- End Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="static/assets/vendor/purecounter/purecounter.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="static/assets/js/main.js"></script>

</body>

</html>